In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('my_movies.csv')
df.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0

In [3]:
df=pd.get_dummies(df)
df

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
0,1,0,1,1,0,1,0,0,0,1,...,0,1,0,0,0,0,1,0,1,1
1,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
6,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
9,1,1,0,0,0,0,0,1,0,1,...,1,0,0,0,0,1,0,0,1,0

In [6]:
frequentitems=apriori(df,min_support=0.2,use_colnames=True)

In [7]:
frequentitems

    support                                           itemsets
0       0.6                                      (Sixth Sense)
1       0.7                                        (Gladiator)
2       0.2                                            (LOTR1)
3       0.2                                    (Harry Potter1)
4       0.6                                          (Patriot)
..      ...                                                ...
76      0.4  (Patriot, V3_Sixth Sense, Sixth Sense, Gladiat...
77      0.4  (V3_Sixth Sense, V1_Gladiator, Sixth Sense, Gl...
78      0.4  (Patriot, V3_Sixth Sense, V1_Gladiator, Sixth ...
79      0.4  (Patriot, V3_Sixth Sense, V1_Gladiator, Gladia...
80      0.4  (Patriot, V3_Sixth Sense, Sixth Sense, V1_Glad...

[81 rows x 2 columns]

In [8]:
model=association_rules(frequentitems,metric="lift",min_threshold=0.2)

In [9]:
model

          antecedents                                        consequents  ...  leverage  conviction
0         (Gladiator)                                      (Sixth Sense)  ...      0.08         1.4
1       (Sixth Sense)                                        (Gladiator)  ...      0.08         1.8
2           (Patriot)                                      (Sixth Sense)  ...      0.04         1.2
3       (Sixth Sense)                                          (Patriot)  ...      0.04         1.2
4       (Sixth Sense)                                       (Green Mile)  ...      0.08         1.2
..                ...                                                ...  ...       ...         ...
649  (V3_Sixth Sense)  (Patriot, V1_Gladiator, Sixth Sense, Gladiator...  ...      0.24         inf
650     (Sixth Sense)  (Patriot, V3_Sixth Sense, V1_Gladiator, Gladia...  ...      0.16         1.8
651    (V1_Gladiator)  (Patriot, V3_Sixth Sense, Sixth Sense, Gladiat...  ...      0.16         1.8
652       (Gladiator)  (Patriot, V3_Sixth Sense, V1_Gladiator, Sixth ...  ...      0.12         1.4
653      (V2_Patriot)  (Patriot, V3_Sixth Sense, V1_Gladiator, Sixth ...  ...      0.16         1.8

[654 rows x 9 columns]

In [10]:
model[model['lift']>1]

          antecedents                                        consequents  ...  leverage  conviction
0         (Gladiator)                                      (Sixth Sense)  ...      0.08         1.4
1       (Sixth Sense)                                        (Gladiator)  ...      0.08         1.8
2           (Patriot)                                      (Sixth Sense)  ...      0.04         1.2
3       (Sixth Sense)                                          (Patriot)  ...      0.04         1.2
4       (Sixth Sense)                                       (Green Mile)  ...      0.08         1.2
..                ...                                                ...  ...       ...         ...
649  (V3_Sixth Sense)  (Patriot, V1_Gladiator, Sixth Sense, Gladiator...  ...      0.24         inf
650     (Sixth Sense)  (Patriot, V3_Sixth Sense, V1_Gladiator, Gladia...  ...      0.16         1.8
651    (V1_Gladiator)  (Patriot, V3_Sixth Sense, Sixth Sense, Gladiat...  ...      0.16         1.8
652       (Gladiator)  (Patriot, V3_Sixth Sense, V1_Gladiator, Sixth ...  ...      0.12         1.4
653      (V2_Patriot)  (Patriot, V3_Sixth Sense, V1_Gladiator, Sixth ...  ...      0.16         1.8

[654 rows x 9 columns]